/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    
}

/* Style the buttons inside the tab */
div.tab button {
	border: 1px solid #d0d4d9;
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
	opacity: .8;
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    border-color: #007ce2;
    background: #007ce2;
    color: #fff
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.tabcontent h3 {
	color:#007ce2;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}